<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Учительская информация</title>
</head>
<body>
    <h1>Инаормација од наставника</h1>
    <h3>овде наставница може да шаље своје рекомендације за учењје припрему за тестови објашњење и било шта ако то не нарушава правила платформе)</h3>
    <ul>
        <li><a href="{{ osnovna_skola }}" target="_blank">Основная школа</a></li>
        <li><a href="{{ srednja_skola }}" target="_blank">Средняя школа</a></li>
    </ul>
</body>
</html>
