<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать Тему</title>
</head>
<body>
    <h1>Создать тему для форума</h1>
    <form action="" method="POST">
        <!-- Поле для темы -->
        <label for="topic">Тема:</label><br>
        <input type="text" id="topic" name="topic" placeholder="Введите тему" required><br><br>

        <!-- Поле для названия -->
        <label for="title">Название:</label><br>
        <input type="text" id="title" name="title" placeholder="Введите название" required><br><br>
        <!-- Кнопка отправки -->
        <button type="submit">Создать</button>
    </form>
</body>
</html>